In [2]:
import pandas as pnd
import pandera as pad
data = pnd.read_csv('ocorrencias.csv',sep=';',parse_dates=['ocorrencia_dia'], dayfirst =True)#le o arquivo com o separador e ve uma das var como data
data.head() #imprime as 5 primeiras linhas
#data.tail() imprime os 5 ultimos aceita argumentos

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,40211,40211,40211,40211,40211,INCIDENTE,**,**,RIO DE JANEIRO,RJ,...,2010-01-03,12:00:00,SIM,FINALIZADA,**,NÃO,NaN,0,1,NÃO
1,40349,40349,40349,40349,40349,INCIDENTE,NaN,NaN,BELÉM,PA,...,2010-01-03,11:05:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO
2,40351,40351,40351,40351,40351,INCIDENTE,NaN,NaN,RIO DE JANEIRO,RJ,...,2010-01-03,03:00:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO
3,39527,39527,39527,39527,39527,ACIDENTE,-13.1066666667,-55.9930555556,LUCAS DO RIO VERDE,MT,...,2010-01-04,17:30:00,SIM,FINALIZADA,A-539/CENIPA/2018,SIM,2019-10-28,0,1,NÃO
4,40324,40324,40324,40324,40324,INCIDENTE,NaN,NaN,PELOTAS,RS,...,2010-01-05,19:25:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO

In [9]:
data.loc[1:3,'ocorrencia_cidade']#pega as informações da coluna ocorrencia cidade das linhas 1:3
data.loc[[10,40]]#pega as informações das colunas 10 e 40

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
10,39789,39789,39789,39789,39789,INCIDENTE,NaN,NaN,SÃO PEDRO DO SUL,RS,...,2010-01-10,21:30:00,**,NaN,NaN,NÃO,NaN,0,1,NÃO
40,39158,39158,39158,39158,39158,INCIDENTE,**,**,BELÉM,PA,...,2010-01-28,16:00:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO

In [10]:
data.codigo_ocorrencia.is_unique   # ve se os valores de uma coluna são unicos

True

In [13]:
data.set_index('codigo_ocorrencia',inplace=True)#seta um index para o dataframe

KeyError: "None of ['codigo_ocorrencia'] are in the columns"

In [15]:
data.loc[40211]# pega as informações pelo index

codigo_ocorrencia1                              40211
codigo_ocorrencia2                              40211
codigo_ocorrencia3                              40211
codigo_ocorrencia4                              40211
ocorrencia_classificacao                    INCIDENTE
ocorrencia_latitude                                **
ocorrencia_longitude                               **
ocorrencia_cidade                      RIO DE JANEIRO
ocorrencia_uf                                      RJ
ocorrencia_pais                                BRASIL
ocorrencia_aerodromo                              ***
ocorrencia_dia                    2010-01-03 00:00:00
ocorrencia_hora                              12:00:00
investigacao_aeronave_liberada                    SIM
investigacao_status                        FINALIZADA
divulgacao_relatorio_numero                        **
divulgacao_relatorio_publicado                    NÃO
divulgacao_dia_publicacao                         NaN
total_recomendacoes                                 0
total_aeronaves_envolvidas                          1
ocorrencia_saida_pista                            NÃO
Name: 40211, dtype: object

In [17]:
data.reset_index(drop=True, inplace=True)#reseta os index

In [20]:
data.loc[0,'ocorrencia_classificacao'] = '' #altera um valor da lonha 0 na coluna ocorrencia_cassificação

In [26]:
data['Ocorrencia_backup'] = data.codigo_ocorrencia1 #cria uma nova coluna

In [27]:
data.loc[:,'ocorrencia_pais'] = 'Brasil' #altera o valor de todas as linhas da coluna ocorrencia_pais

In [30]:
data.loc[data.ocorrencia_aerodromo=='***','ocorrencia_aerodromo'] = '' #troca os dados *** por '' em ocorrencia aerodromo

In [31]:
data.loc[:,'ocorrencia_aerodromo']#ve todos os dados da ocorrencia aerodromo

0
1       SBBE
2       SBRJ
3
4       SBPK
        ...
5747    SBKP
5748
5749    SBGL
5750
5751    SBJR
Name: ocorrencia_aerodromo, Length: 5752, dtype: object

In [32]:
data.loc[data.ocorrencia_aerodromo == '****',['ocorrencia_aerodromo']] = pnd.NA

In [35]:
data.replace(['**','###!','####','****','*****',' ','','***'],pnd.NA,inplace=True)

In [36]:
data.loc[:,'ocorrencia_aerodromo']

0       <NA>
1       SBBE
2       SBRJ
3       <NA>
4       SBPK
        ...
5747    SBKP
5748    <NA>
5749    SBGL
5750    <NA>
5751    SBJR
Name: ocorrencia_aerodromo, Length: 5752, dtype: object

In [43]:
data.isna().sum()#sumariza os dados NA(nulos) do metodo passado
data.isnull().sum() #sumariza os dados nulos
data.fillna(value={'ocorrencia_hora':10},inplace=True) #muda as ocorrencias hora que estao NA para 10

In [44]:
data.isna().sum()

codigo_ocorrencia1                   0
codigo_ocorrencia2                   0
codigo_ocorrencia3                   0
codigo_ocorrencia4                   0
ocorrencia_classificacao             1
ocorrencia_latitude               2296
ocorrencia_longitude              2298
ocorrencia_cidade                    0
ocorrencia_uf                        1
ocorrencia_pais                      0
ocorrencia_aerodromo              2349
ocorrencia_dia                       0
ocorrencia_hora                      0
investigacao_aeronave_liberada    2482
investigacao_status                340
divulgacao_relatorio_numero       3800
divulgacao_relatorio_publicado       0
divulgacao_dia_publicacao         4258
total_recomendacoes                  0
total_aeronaves_envolvidas           0
ocorrencia_saida_pista               0
Ocorrencia_backup                    0
dtype: int64

In [46]:
data.drop(['Ocorrencia_backup'], axis=1, inplace=True) #dropa uma coluna, axios = 0 exclui uma linha

In [52]:
data.dropna(inplace=True) # exclui todas as linhas que possuem NA das alterações passadas
data.dropna(subset=['ocorrencia_latitude'],inplace=True)#ECLUI AS LINHAS DE UMA COLUNA
data.drop_duplicates(inplace=True)#exclui as linhas duplicadas