In [2]:
import pandas as pnd
import pandera as pad

In [29]:
data = pnd.read_csv('ocorrencias.csv',sep=';',parse_dates=['ocorrencia_dia'], dayfirst =True)#le o arquivo com o separador e ve uma das var como data
data.head() #imprime as 5 primeiras linhas
#data.tail() imprime os 5 ultimos aceita argumentos

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,40211,40211,40211,40211,40211,INCIDENTE,**,**,RIO DE JANEIRO,RJ,...,2010-01-03,12:00:00,SIM,FINALIZADA,**,NÃO,NaN,0,1,NÃO
1,40349,40349,40349,40349,40349,INCIDENTE,NaN,NaN,BELÉM,PA,...,2010-01-03,11:05:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO
2,40351,40351,40351,40351,40351,INCIDENTE,NaN,NaN,RIO DE JANEIRO,RJ,...,2010-01-03,03:00:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO
3,39527,39527,39527,39527,39527,ACIDENTE,-13.1066666667,-55.9930555556,LUCAS DO RIO VERDE,MT,...,2010-01-04,17:30:00,SIM,FINALIZADA,A-539/CENIPA/2018,SIM,2019-10-28,0,1,NÃO
4,40324,40324,40324,40324,40324,INCIDENTE,NaN,NaN,PELOTAS,RS,...,2010-01-05,19:25:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO

data.dtypes #mostra o tipo dos dados
data.ocorrencia_dia.dt.month #pega o dia

In [38]:
schema = pad.DataFrameSchema(
    columns={
        "codigo":pad.Column(pad.Int, required=False),
        "codigo_ocorrencia":pad.Column(pad.Int),
        "ocorrencia_uf": pad.Column(pad.String, pad.Check.str_length(2,2)),
        "ocorrencia_dia": pad.Column(pad.DateTime, nullable = True),
        "ocorrencia_hora": pad.Column(pad.String,pad.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'),nullable = True)
    }
)#valida se os dados presentes estão verdades

In [39]:
try:
    schema.validate(data)#valida se esta tudo ok, se tiver dados errados retorna um erro
except BaseException as ex:
    print('Erro na formatação dos dados: {}'.format(ex))
else:
    print('Dados OK')

Dados OK