In [2]:
import pandas as pnd
import pandera as pad

valores_ausentes = ['**','***','****','*****','###!','####','NULL']
data = pnd.read_csv('ocorrencias.csv',sep=';',parse_dates=['ocorrencia_dia'], dayfirst =True, na_values=valores_ausentes)#le o arquivo com o separador e ve uma das var como data
schema = pad.DataFrameSchema(
    columns={
        "codigo":pad.Column(pad.Int, required=False),
        "codigo_ocorrencia":pad.Column(pad.Int),
        "ocorrencia_uf": pad.Column(pad.String, pad.Check.str_length(2,2), nullable=True),
        "ocorrencia_dia": pad.Column(pad.DateTime, nullable = True),
        "ocorrencia_hora": pad.Column(pad.String,pad.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'),nullable = True)
    }
)#valida se os dados presentes estão verdades
try:
    schema.validate(data)#valida se esta tudo ok, se tiver dados errados retorna um erro
except BaseException as ex:
    print('Erro na formatação dos dados: {}'.format(ex))
else:
    print('Dados OK')

Dados OK

In [3]:
data.dropna(inplace=True)

In [4]:
data.iloc[-1]

codigo_ocorrencia                               79124
codigo_ocorrencia1                              79124
codigo_ocorrencia2                              79124
codigo_ocorrencia3                              79124
codigo_ocorrencia4                              79124
ocorrencia_classificacao                     ACIDENTE
ocorrencia_latitude                        -22.216667
ocorrencia_longitude                       -47.360833
ocorrencia_cidade                                LEME
ocorrencia_uf                                      SP
ocorrencia_pais                                BRASIL
ocorrencia_aerodromo                             SDLL
ocorrencia_dia                    2020-01-25 00:00:00
ocorrencia_hora                              17:00:00
investigacao_aeronave_liberada                    SIM
investigacao_status                        FINALIZADA
divulgacao_relatorio_numero         A-010/CENIPA/2020
divulgacao_relatorio_publicado                    SIM
divulgacao_dia_publicacao                  2021-02-12
total_recomendacoes                                 1
total_aeronaves_envolvidas                          1
ocorrencia_saida_pista                            NÃO
Name: 5280, dtype: object

In [5]:
data.isna().sum()

codigo_ocorrencia                 0
codigo_ocorrencia1                0
codigo_ocorrencia2                0
codigo_ocorrencia3                0
codigo_ocorrencia4                0
ocorrencia_classificacao          0
ocorrencia_latitude               0
ocorrencia_longitude              0
ocorrencia_cidade                 0
ocorrencia_uf                     0
ocorrencia_pais                   0
ocorrencia_aerodromo              0
ocorrencia_dia                    0
ocorrencia_hora                   0
investigacao_aeronave_liberada    0
investigacao_status               0
divulgacao_relatorio_numero       0
divulgacao_relatorio_publicado    0
divulgacao_dia_publicacao         0
total_recomendacoes               0
total_aeronaves_envolvidas        0
ocorrencia_saida_pista            0
dtype: int64

In [6]:
filtro = data.ocorrencia_uf.isnull()
data.loc[filtro]# procura dados nulos na coluna ocorrencia uf

Empty DataFrame
Columns: [codigo_ocorrencia, codigo_ocorrencia1, codigo_ocorrencia2, codigo_ocorrencia3, codigo_ocorrencia4, ocorrencia_classificacao, ocorrencia_latitude, ocorrencia_longitude, ocorrencia_cidade, ocorrencia_uf, ocorrencia_pais, ocorrencia_aerodromo, ocorrencia_dia, ocorrencia_hora, investigacao_aeronave_liberada, investigacao_status, divulgacao_relatorio_numero, divulgacao_relatorio_publicado, divulgacao_dia_publicacao, total_recomendacoes, total_aeronaves_envolvidas, ocorrencia_saida_pista]
Index: []

[0 rows x 22 columns]

In [7]:
data.count()#conta valores, por padrao nao conta valores nulos

codigo_ocorrencia                 484
codigo_ocorrencia1                484
codigo_ocorrencia2                484
codigo_ocorrencia3                484
codigo_ocorrencia4                484
ocorrencia_classificacao          484
ocorrencia_latitude               484
ocorrencia_longitude              484
ocorrencia_cidade                 484
ocorrencia_uf                     484
ocorrencia_pais                   484
ocorrencia_aerodromo              484
ocorrencia_dia                    484
ocorrencia_hora                   484
investigacao_aeronave_liberada    484
investigacao_status               484
divulgacao_relatorio_numero       484
divulgacao_relatorio_publicado    484
divulgacao_dia_publicacao         484
total_recomendacoes               484
total_aeronaves_envolvidas        484
ocorrencia_saida_pista            484
dtype: int64

In [8]:
#filtros recomedação > 10
filtro = data.total_recomendacoes>10
data.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
63,39992,39992,39992,39992,39992,ACIDENTE,-20.5069444444,-46.6341666667,SÃO PAULO,SP,...,2010-02-17,20:07:00,SIM,FINALIZADA,A-032/CENIPA/2012,SIM,2012-03-22,11,1,SIM
326,42250,42250,42250,42250,42250,ACIDENTE,-22.9102777778,-43.1627777778,RIO DE JANEIRO,RJ,...,2010-08-12,12:26:00,SIM,FINALIZADA,A-001/CENIPA/2012,SIM,2012-02-22,19,1,SIM
727,44377,44377,44377,44377,44377,ACIDENTE,-21.5997222222,-48.8327777778,ITÁPOLIS,SP,...,2011-04-09,14:50:00,SIM,FINALIZADA,A-089/CENIPA/2012,SIM,2012-08-29,11,1,NÃO
872,44796,44796,44796,44796,44796,ACIDENTE,-8.1522222222,34.9094444444,RECIFE,PE,...,2011-07-13,09:54:00,SIM,FINALIZADA,A-019/CENIPA/2013,SIM,2013-07-18,23,1,NÃO
884,44888,44888,44888,44888,44888,INCIDENTE GRAVE,-25.5311111111,-49.1755555556,SÃO JOSÉ DOS PINHAIS,PR,...,2011-07-15,17:05:00,SIM,FINALIZADA,IG-532/CENIPA/2015,SIM,2016-06-03,11,1,NÃO

In [9]:
# filtro ocorrencia classificação == acidente 
filtro = data.ocorrencia_classificacao == 'ACIDENTE'
data.loc[filtro,['codigo_ocorrencia','ocorrencia_cidade']]

      codigo_ocorrencia ocorrencia_cidade
11                40069         SÃO PAULO
14                40107            GURUPÁ
51                39115        CORRENTINA
63                39992         SÃO PAULO
80                39887    BELO HORIZONTE
...                 ...               ...
4866              78612    BIRITIBA-MIRIM
4873              78626             GUAPÉ
4971              78749           CAMOCIM
5008              78766   CRUZEIRO DO SUL
5280              79124              LEME

[295 rows x 2 columns]

In [10]:
# filtro ocorrencia classificação == acidente e estado sp
filtro = data.ocorrencia_classificacao == 'ACIDENTE'
filtro2 = data.ocorrencia_uf == 'SP'
data.loc[filtro & filtro2,['codigo_ocorrencia','ocorrencia_cidade']]

      codigo_ocorrencia    ocorrencia_cidade
11                40069            SÃO PAULO
63                39992            SÃO PAULO
196               41155              JUNDIAÍ
256               41829              JUNDIAÍ
291               42001              BOITUVA
469               43450            SÃO PAULO
485               43404    BRAGANÇA PAULISTA
727               44377             ITÁPOLIS
749               44402                BAURU
960               45055             ORLÂNDIA
982               45072             ORLÂNDIA
1129              45331            GUARULHOS
1186              45524              JUNDIAÍ
1196              45466             CAMPINAS
1302              45749        GUARATINGUETÁ
1309              45757              JUNDIAÍ
1315              46048            GUARULHOS
1381              45900            SÃO PAULO
1383              45899            RIO CLARO
1426              46038                BAURU
1456              46179      SANTA FÉ DO SUL
1462              46170            BEBEDOURO
1508              46259             CAMPINAS
1618              46431             CAMPINAS
1677              46570            SÃO PAULO
2050              48438            SÃO PAULO
2083              48772              MARÍLIA
2209              49454            SÃO PAULO
2301              49882            RIO CLARO
2376              50343             SOROCABA
2396              50248        TUPI PAULISTA
2598              51000    BRAGANÇA PAULISTA
2638              51007             SOROCABA
2711              51533    BRAGANÇA PAULISTA
2748              51656           GUARARAPES
2771              51752            BEBEDOURO
2791              52264             CAMPINAS
3227              53333           PIRACICABA
3550              60844            AMERICANA
3576              60924           SÃO CARLOS
3589              60951            SÃO PAULO
3700              65469           PIRACICABA
3747              65716          VOTUPORANGA
3822              66019      SANTA FÉ DO SUL
3971              66559              ATIBAIA
4091              66962              UBATUBA
4122              67066                COTIA
4199              77454  SÃO JOSÉ DOS CAMPOS
4208              77441              ATIBAIA
4254              77316            SÃO PAULO
4274              77264           PIRACICABA
4502              77942              BIRIGUI
4538              78018                BAURU
4546              78031             ITÁPOLIS
4620              78176            ARAÇATUBA
4679              78296    BRAGANÇA PAULISTA
4866              78612       BIRITIBA-MIRIM
5280              79124                 LEME

In [14]:
# filtro ocorrencia classificação == acidente ou incidente grave e estado sp
    #filtro = (data.ocorrencia_classificacao == 'ACIDENTE') | (data.ocorrencia_classificacao == 'INCIDENTE GRAVE')
filtro = data.ocorrencia_classificacao.isin(['ACIDENTE','INCIDENTE GRAVE'])   
filtro2 = data.ocorrencia_uf == 'SP'
data.loc[filtro & filtro2,['codigo_ocorrencia','ocorrencia_cidade']]

      codigo_ocorrencia  ocorrencia_cidade
11                40069          SÃO PAULO
63                39992          SÃO PAULO
196               41155            JUNDIAÍ
219               41411          SÃO PAULO
256               41829            JUNDIAÍ
...                 ...                ...
4546              78031           ITÁPOLIS
4620              78176          ARAÇATUBA
4679              78296  BRAGANÇA PAULISTA
4866              78612     BIRITIBA-MIRIM
5280              79124               LEME

[91 rows x 2 columns]

In [15]:
# filtro ocorrencia cidade começa com a letra s
    #filtro = (data.ocorrencia_classificacao == 'ACIDENTE') | (data.ocorrencia_classificacao == 'INCIDENTE GRAVE')  
filtro = data.ocorrencia_cidade.str[0] == 'S'
data.loc[filtro,['codigo_ocorrencia','ocorrencia_cidade']]

      codigo_ocorrencia          ocorrencia_cidade
11                40069                  SÃO PAULO
63                39992                  SÃO PAULO
84                40150                SANTA MARIA
159               40583                   SALVADOR
219               41411                  SÃO PAULO
220               41480       SÃO JOSÉ DOS PINHAIS
281               41916  SANTO ANTÔNIO DO LEVERGER
297               42289                  SÃO PAULO
380               42757                  SÃO PAULO
400               42999                   SÃO LUÍS
461               43459                  SÃO PAULO
469               43450                  SÃO PAULO
836               44647                   SALVADOR
884               44888       SÃO JOSÉ DOS PINHAIS
973               45090                SANTA MARIA
1327              45800                   SALVADOR
1369              45941          SALTO DE PIRAPORA
1381              45900                  SÃO PAULO
1456              46179            SANTA FÉ DO SUL
1677              46570                  SÃO PAULO
1969              52967                      SINOP
2050              48438                  SÃO PAULO
2063              48660                   SALVADOR
2209              49454                  SÃO PAULO
2283              49797                   SALVADOR
2326              50322                   SÃO LUÍS
2372              50513       SÃO JOSÉ DOS PINHAIS
2376              50343                   SOROCABA
2404              50251  SANTO ANTÔNIO DO LEVERGER
2565              50979        SANTA ROSA DO PURUS
2638              51007                   SOROCABA
2670              51448                 SANTA INÊS
2671              51449                      SINOP
2705              51537  SANTO ANTÔNIO DO LEVERGER
2727              51673      SANTANA DO LIVRAMENTO
2787              52263      SÃO JOSÉ DO RIO PRETO
2864              52553      SENADOR JOSÉ PORFÍRIO
2964              52843                    SORRISO
3197              53267         SÃO FÉLIX DO XINGU
3215              53308                   SÃO LUÍS
3230              53332                   SALVADOR
3576              60924                 SÃO CARLOS
3589              60951                  SÃO PAULO
3608              61001  SANTA TEREZINHA DE ITAIPU
3690              65445                   SANTARÉM
3728              65632                    SORRISO
3822              66019            SANTA FÉ DO SUL
3905              66333               SERTANÓPOLIS
3932              66444                  SÃO PAULO
3966              66544                  SÃO PAULO
3990              66640      SANTANA DO LIVRAMENTO
4003              66669                   SÃO JOSÉ
4199              77454        SÃO JOSÉ DOS CAMPOS
4248              77324                   SANTARÉM
4254              77316                  SÃO PAULO

In [16]:
# filtro ocorrencia cidade termina com a letra s
    #filtro = (data.ocorrencia_classificacao == 'ACIDENTE') | (data.ocorrencia_classificacao == 'INCIDENTE GRAVE')  
filtro = data.ocorrencia_cidade.str[-1] == 'S'
data.loc[filtro,['codigo_ocorrencia','ocorrencia_cidade']]

      codigo_ocorrencia      ocorrencia_cidade
35                39487                 PALMAS
78                39916                 MANAUS
109               40087               ANÁPOLIS
121               40269               ANÁPOLIS
168               40621        POÇOS DE CALDAS
...                 ...                    ...
4150              77602                 MANAUS
4199              77454    SÃO JOSÉ DOS CAMPOS
4224              77391  ALTO PARAÍSO DE GOIÁS
4279              77259             NAVEGANTES
4546              78031               ITÁPOLIS

[78 rows x 2 columns]

In [17]:
# filtro ocorrencia cidade termina com a letra as
    #filtro = (data.ocorrencia_classificacao == 'ACIDENTE') | (data.ocorrencia_classificacao == 'INCIDENTE GRAVE')  
filtro = data.ocorrencia_cidade.str[-2:] == 'AS'
data.loc[filtro,['codigo_ocorrencia','ocorrencia_cidade']]

      codigo_ocorrencia ocorrencia_cidade
35                39487            PALMAS
168               40621   POÇOS DE CALDAS
278               41850            PALMAS
370               40823            PALMAS
1196              45466          CAMPINAS
1508              46259          CAMPINAS
1532              46451          CAMPINAS
1618              46431          CAMPINAS
1752              46756          CAMPINAS
2003              47901            PALMAS
2113              48876       TRÊS LAGOAS
2248              49615         ARAGARÇAS
2380              50515   BARRA DO GARÇAS
2791              52264          CAMPINAS
3151              53233            PALMAS
3584              60930            ARARAS
3595              60980      BARREIRINHAS
3645              65203          CAMPINAS
3916              66394         CARAVELAS
3987              66616   POÇOS DE CALDAS
4065              66843       PARAUAPEBAS
4147              78800            PALMAS

In [18]:
# filtro ocorrencia cidade contem com a letra as
    #filtro = (data.ocorrencia_classificacao == 'ACIDENTE') | (data.ocorrencia_classificacao == 'INCIDENTE GRAVE')  
filtro = data.ocorrencia_cidade.str.contains('AS')
data.loc[filtro,['codigo_ocorrencia','ocorrencia_cidade']]

      codigo_ocorrencia     ocorrencia_cidade
8                 39156              CASCAVEL
35                39487                PALMAS
66                39385              BRASÍLIA
168               40621       POÇOS DE CALDAS
194               41053              CASCAVEL
198               41179              BRASÍLIA
278               41850                PALMAS
282               41917              BRASÍLIA
370               40823                PALMAS
503               43361           PASSO FUNDO
891               44858              BRASÍLIA
1196              45466              CAMPINAS
1417              46026              BRASÍLIA
1508              46259              CAMPINAS
1532              46451              CAMPINAS
1590              46446              CASCAVEL
1618              46431              CAMPINAS
1752              46756              CAMPINAS
2003              47901                PALMAS
2113              48876           TRÊS LAGOAS
2248              49615             ARAGARÇAS
2287              49932           PASSO FUNDO
2371              50341  PALMEIRA DAS MISSÕES
2380              50515       BARRA DO GARÇAS
2387              50346              BRASÍLIA
2405              50315           PASSO FUNDO
2597              50999              BRASÍLIA
2791              52264              CAMPINAS
3140              53203              BRASÍLIA
3151              53233                PALMAS
3584              60930                ARARAS
3595              60980          BARREIRINHAS
3645              65203              CAMPINAS
3916              66394             CARAVELAS
3987              66616       POÇOS DE CALDAS
4065              66843           PARAUAPEBAS
4147              78800                PALMAS
4361              77695              BRASÍLIA
4433              77803              BRASÍLIA
4513              77963           BRASILÂNDIA

In [23]:
# filtro ocorrencia cidade contem com a letra as ou da
    #filtro = (data.ocorrencia_classificacao == 'ACIDENTE') | (data.ocorrencia_classificacao == 'INCIDENTE GRAVE')  
filtro = data.ocorrencia_cidade.str.contains('AS|DA')
data.loc[filtro,['codigo_ocorrencia','ocorrencia_cidade']]

      codigo_ocorrencia     ocorrencia_cidade
8                 39156              CASCAVEL
35                39487                PALMAS
66                39385              BRASÍLIA
122               40147      UNIÃO DA VITÓRIA
168               40621       POÇOS DE CALDAS
194               41053              CASCAVEL
198               41179              BRASÍLIA
278               41850                PALMAS
282               41917              BRASÍLIA
346               42386  VITÓRIA DA CONQUISTA
370               40823                PALMAS
503               43361           PASSO FUNDO
891               44858              BRASÍLIA
1196              45466              CAMPINAS
1417              46026              BRASÍLIA
1508              46259              CAMPINAS
1532              46451              CAMPINAS
1590              46446              CASCAVEL
1618              46431              CAMPINAS
1752              46756              CAMPINAS
2003              47901                PALMAS
2113              48876           TRÊS LAGOAS
2157              49119      TANGARÁ DA SERRA
2248              49615             ARAGARÇAS
2287              49932           PASSO FUNDO
2323              50317      TANGARÁ DA SERRA
2371              50341  PALMEIRA DAS MISSÕES
2380              50515       BARRA DO GARÇAS
2387              50346              BRASÍLIA
2405              50315           PASSO FUNDO
2597              50999              BRASÍLIA
2791              52264              CAMPINAS
2835              52279      TANGARÁ DA SERRA
3140              53203              BRASÍLIA
3151              53233                PALMAS
3584              60930                ARARAS
3595              60980          BARREIRINHAS
3645              65203              CAMPINAS
3875              66244      TANGARÁ DA SERRA
3916              66394             CARAVELAS
3987              66616       POÇOS DE CALDAS
4001              66660      TANGARÁ DA SERRA
4065              66843           PARAUAPEBAS
4147              78800                PALMAS
4361              77695              BRASÍLIA
4417              77816            AQUIDAUANA
4433              77803              BRASÍLIA
4513              77963           BRASILÂNDIA

In [26]:
# filtro ocorrencia dia para o dia 21 de todos os anos e meses
    #filtro = (data.ocorrencia_classificacao == 'ACIDENTE') | (data.ocorrencia_classificacao == 'INCIDENTE GRAVE')  
filtro = data.ocorrencia_dia.dt.day == 21
data.loc[filtro,['codigo_ocorrencia','ocorrencia_cidade']]

      codigo_ocorrencia   ocorrencia_cidade
66                39385            BRASÍLIA
104               40149            LUZIÂNIA
148               40271              RECIFE
539               43719             ARACAJU
754               44436              MANAUS
1754              46755      RIBEIRÃO PRETO
2107              48803             GOIÂNIA
2209              49454           SÃO PAULO
2210              49472          PORTO BELO
3197              53267  SÃO FÉLIX DO XINGU
3271              53373            LONDRINA
3619              61010              MANAUS
3620              61012        PORTO SEGURO
3692              65441            CURITIBA
3717              65536              MANAUS
3966              66544           SÃO PAULO
4081              66911              BONFIM
4115              67040   FRANCISCO BELTRÃO
4188              77502              MUCURI

In [28]:
# filtro ocorrencia dia para o dia 21 de todos meses do dia 21 do ano de 2019
    #filtro = (data.ocorrencia_classificacao == 'ACIDENTE') | (data.ocorrencia_classificacao == 'INCIDENTE GRAVE')  
filtro = data.ocorrencia_dia.dt.day == 21
filtro2 = data.ocorrencia_dia.dt.year == 2019
data.loc[filtro&filtro2,['codigo_ocorrencia','ocorrencia_cidade']]

Empty DataFrame
Columns: [codigo_ocorrencia, ocorrencia_cidade]
Index: []

In [27]:
# filtro ocorrencia dia para oS dias entre 21 e 24 
filtro = (data.ocorrencia_dia.dt.day > 21) & (data.ocorrencia_dia.dt.day < 24) 
data.loc[filtro,['codigo_ocorrencia','ocorrencia_cidade']]

      codigo_ocorrencia      ocorrencia_cidade
69                39727          VÁRZEA GRANDE
400               42999               SÃO LUÍS
1157              45393         RIO DE JANEIRO
1266              45730                 MARICÁ
1362              45891                 TOLEDO
1413              45937               CANARANA
1417              46026               BRASÍLIA
1462              46170              BEBEDOURO
1527              46444                 PAUINI
1572              46411                  BELÉM
1697              46590                 MARICÁ
1810              46850               CANARANA
1933              47334              FONTE BOA
2061              48662           PORTO SEGURO
2314              50292              JOINVILLE
2727              51673  SANTANA DO LIVRAMENTO
2808              52273              FORTALEZA
2862              52552           PORTO SEGURO
2864              52553  SENADOR JOSÉ PORFÍRIO
2904              52640           CAMPO GRANDE
2906              52694      BRAGANÇA PAULISTA
2981              52872                UBERABA
3075              53115               UIRAMUTÃ
3273              53375                 MANAUS
3383              53545            PORTO VELHO
3501              60729               CURITIBA
3625              61070               REDENÇÃO
3754              65771           PONTA GROSSA
3932              66444              SÃO PAULO
3935              66450          FLORIANÓPOLIS
4001              66660       TANGARÁ DA SERRA
4003              66669               SÃO JOSÉ
4047              66787            PORTO VELHO
4150              77602                 MANAUS
4216              77407               ITAITUBA
4333              77697               ITAITUBA
4361              77695               BRASÍLIA
4562              78052              GUARATUBA
4738              78383                 MACEIÓ
4866              78612         BIRITIBA-MIRIM

In [39]:
# nova coluna com data e hora
data['ocorrencia_dia_hora'] = pnd.to_datetime(data.ocorrencia_dia.astype(str) +' '+ data.ocorrencia_hora)

In [40]:
data.head()

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista,ocorrencia_dia_hora
8,39156,39156,39156,39156,39156,INCIDENTE GRAVE,-15.2402777778,-59.3541666667,CASCAVEL,PR,...,23:15:00,SIM,FINALIZADA,I-004/CENIPA/2011,SIM,2011-06-30,2,1,NÃO,2010-01-10 23:15:00
11,40069,40069,40069,40069,40069,ACIDENTE,-23.5069444444,-46.6341666667,SÃO PAULO,SP,...,14:50:00,SIM,FINALIZADA,A-121/CENIPA/2012,SIM,2012-11-19,8,1,NÃO,2010-01-10 14:50:00
14,40107,40107,40107,40107,40107,ACIDENTE,-1.4169444444,-51.6338888889,GURUPÁ,PA,...,14:30:00,SIM,FINALIZADA,A-505/CENIPA/2016,SIM,2016-03-18,0,1,NÃO,2010-01-12 14:30:00
35,39487,39487,39487,39487,39487,INCIDENTE GRAVE,-10.290000,-48.357778,PALMAS,TO,...,16:50:00,SIM,FINALIZADA,IG-575/CENIPA/2014,SIM,2014-10-13,0,1,NÃO,2010-01-26 16:50:00
51,39115,39115,39115,39115,39115,ACIDENTE,-13.3805555556,-44.6172222222,CORRENTINA,BA,...,17:40:00,SIM,FINALIZADA,A-031/CENIPA/2011,SIM,2011-07-21,2,1,NÃO,2010-02-07 17:40:00

In [41]:
data.dtypes

codigo_ocorrencia                          int64
codigo_ocorrencia1                         int64
codigo_ocorrencia2                         int64
codigo_ocorrencia3                         int64
codigo_ocorrencia4                         int64
ocorrencia_classificacao                  object
ocorrencia_latitude                       object
ocorrencia_longitude                      object
ocorrencia_cidade                         object
ocorrencia_uf                             object
ocorrencia_pais                           object
ocorrencia_aerodromo                      object
ocorrencia_dia                    datetime64[ns]
ocorrencia_hora                           object
investigacao_aeronave_liberada            object
investigacao_status                       object
divulgacao_relatorio_numero               object
divulgacao_relatorio_publicado            object
divulgacao_dia_publicacao                 object
total_recomendacoes                        int64
total_aeronaves_envolvidas                 int64
ocorrencia_saida_pista                    object
ocorrencia_dia_hora               datetime64[ns]
dtype: object

In [42]:
data.count()

codigo_ocorrencia                 484
codigo_ocorrencia1                484
codigo_ocorrencia2                484
codigo_ocorrencia3                484
codigo_ocorrencia4                484
ocorrencia_classificacao          484
ocorrencia_latitude               484
ocorrencia_longitude              484
ocorrencia_cidade                 484
ocorrencia_uf                     484
ocorrencia_pais                   484
ocorrencia_aerodromo              484
ocorrencia_dia                    484
ocorrencia_hora                   484
investigacao_aeronave_liberada    484
investigacao_status               484
divulgacao_relatorio_numero       484
divulgacao_relatorio_publicado    484
divulgacao_dia_publicacao         484
total_recomendacoes               484
total_aeronaves_envolvidas        484
ocorrencia_saida_pista            484
ocorrencia_dia_hora               484
dtype: int64

In [47]:
data.groupby(['total_recomendacoes']).codigo_ocorrencia.count()

total_recomendacoes
0     266
1      94
2      58
3      25
4      16
5       6
6       8
8       3
9       3
11      3
19      1
23      1
Name: codigo_ocorrencia, dtype: int64

In [48]:
data.groupby(['total_recomendacoes']).size()

total_recomendacoes
0     266
1      94
2      58
3      25
4      16
5       6
6       8
8       3
9       3
11      3
19      1
23      1
dtype: int64

In [51]:
data.groupby(['total_recomendacoes']).size().sort_values()

total_recomendacoes
19      1
23      1
8       3
9       3
11      3
5       6
6       8
4      16
3      25
2      58
1      94
0     266
dtype: int64

In [52]:
data.groupby(['total_recomendacoes']).size().sort_values(ascending=False)

total_recomendacoes
0     266
1      94
2      58
3      25
4      16
6       8
5       6
8       3
9       3
11      3
19      1
23      1
dtype: int64

In [54]:
data.groupby(['ocorrencia_classificacao','ocorrencia_uf']).size()

ocorrencia_classificacao  ocorrencia_uf
ACIDENTE                  AC                5
                          AL                1
                          AM               16
                          BA               12
                          CE                7
                          DF                3
                          ES                1
                          GO               16
                          MA                2
                          MG               13
                          MS               11
                          MT               21
                          PA               17
                          PB                1
                          PE                4
                          PI                2
                          PR               37
                          RJ               11
                          RO                2
                          RR               11
                          RS               26
                          SC               13
                          SE                2
                          SP               58
                          TO                3
INCIDENTE                 BA                1
                          PR                1
                          RJ                1
                          RN                1
                          SC                1
                          SP                2
INCIDENTE GRAVE           AC                3
                          AL                1
                          AM               15
                          BA               10
                          CE                3
                          DF                7
                          ES                1
                          GO               14
                          MA                4
                          MG               11
                          MS                1
                          MT               11
                          PA               12
                          PB                1
                          PE                1
                          PI                1
                          PR               18
                          RJ                7
                          RN                1
                          RO                4
                          RR                2
                          RS               13
                          SC                3
                          SE                1
                          SP               33
                          TO                4
dtype: int64

In [55]:
data.groupby(['ocorrencia_cidade']).size().sort_values()

ocorrencia_cidade
ALEGRETE                    1
MACEIÓ                      1
MARECHAL CÂNDIDO RONDON     1
MARECHAL THAUMATURGO        1
MARÍLIA                     1
                           ..
RIO DE JANEIRO             10
BRAGANÇA PAULISTA          11
GOIÂNIA                    14
SÃO PAULO                  15
MANAUS                     16
Length: 223, dtype: int64

In [61]:
filtro = data.ocorrencia_cidade == 'MANAUS'
filtro2 = data.total_recomendacoes > 0
data.loc[filtro&filtro2].total_recomendacoes.sum()

12

In [64]:
data.groupby(['ocorrencia_cidade']).total_recomendacoes.sum().sort_values()

ocorrencia_cidade
ALEGRETE                 0
PARAUAPEBAS              0
PARANAVAÍ                0
PALMEIRA DAS MISSÕES     0
OURO FINO                0
                        ..
ITÁPOLIS                17
BRASÍLIA                24
RECIFE                  26
RIO DE JANEIRO          32
SÃO PAULO               39
Name: total_recomendacoes, Length: 223, dtype: int64

In [66]:
filtro = data.total_recomendacoes>0
data.loc[filtro].groupby(['ocorrencia_cidade']).total_recomendacoes.sum().sort_values()

ocorrencia_cidade
LAGES              1
CARAVELAS          1
CÁCERES            1
FORMOSA            1
GUARAPARI          1
                  ..
ITÁPOLIS          17
BRASÍLIA          24
RECIFE            26
RIO DE JANEIRO    32
SÃO PAULO         39
Name: total_recomendacoes, Length: 124, dtype: int64